#mainbody{background-color: whitesmoke}
#mainPage{
    background-color: rgb(13, 107, 44);
    color:white;
    position: absolute;
  top: 30%;
  left: 35%;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  text-align: center
}
button{
    margin-top: 5px;
    height: 45px;
    width: 150px;
    color: rgb(15, 15, 15);
    border: 2px solid black;
    background: white;
    font-family:monospace;
    font-size: 15px;
    border-radius: 10px;
}
button:hover{
    color: rgb(90, 89, 89);
    border: 1px solid grey;
  }

.all_bg{
    width:800px;
    height:600px;
    margin:0px auto;
}
#allcanvas{
    position: relative;
    width:800;
    height:600px;
    margin:0px;
}
#canvas1{
    position: absolute;
    bottom:0;
    left:0;
    z-index:1;
}
#canvas2{
    position: absolute;
    bottom:0;
    left:0;
    z-index:0;
}
        